{% extends 'projManagement/overlay.html' %}

{% block content %}
<h1>Modifier la Mission</h1>
{% if messages %}
<div class="error-message">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<form action="" method="post" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn">Enregistrer les modifications</button>
    <a href="{% url 'detail_mission' mission.id %}" class="btn">Annuler</a>
</form>
{% endblock %}
