
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'projManagement/style.css' %}"/>
  
    
    

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'clients' %}">Clients</a></li>
                <li><a href="{% url 'missions' %}">Missions</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Le contenu des pages sera inséré ici -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 - Mon Site. Tous droits réservés.</p>
    </footer>
</body>
</html>
