{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'projManagement/style.css' %}"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'guide_utilisation' %}">Guide d'utilisation</a></li>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'clients' %}">Clients</a></li>
                <li><a href="{% url 'missions' %}">Missions</a></li>
                <li><a href="{% url 'journaux' %}">Journaux</a></li>
                <li><a href="{% url 'factures' %}">Factures</a></li>
                <li><a href="{% url 'prestations' %}">Prestations</a></li>
                <li><a href="{% url 'collaborateurs' %}">Collaborateurs</a></li>
                <li><a href="{% url 'feuilles_de_temps' %}">Feuilles de temps</a></li>
                <li><a href="{% url 'tasks_list' %}">Tâches & Workflow</a></li>
                <li class="nav-right"><a href="{% url 'logout' %}" class="nav-logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Le contenu des pages sera inséré ici -->
        {% endblock %}
    </main>
    
</body>
</html>
