{% extends 'projManagement/overlay.html' %}

{% block content %}
<h1>Liste des Prestations</h1>
<form method="GET" action="">
    <input type="text" name="q" placeholder="Rechercher un attribut..." value="{{ request.GET.q }}">
    <button type="submit" class="btn">Rechercher</button>
</form>
<a href="{% url 'creer_prestation' %}" class="btn">Créer une nouvelle prestation</a>
<table border="1">
    <thead>
        <tr>
            <th>ID Prestation</th>
            <th>Diminutif</th>
            <th>Description</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        {% for prestation in prestations %}
        <tr>
            <td><a href="{% url 'detail_prestation' prestation.id %}">{{ prestation.id }}</a></td>
            <td><a href="{% url 'detail_prestation' prestation.id %}">{{ prestation.diminutif }}</a></td>
            <td><a href="{% url 'detail_prestation' prestation.id %}">{{ prestation.description }}</a></td>
            <td><a href="{% url 'detail_prestation' prestation.id %}">{{ prestation.prix }}</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Aucune prestation trouvée.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}